.Card {
    width: 10rem;
    border: black solid 3px;
    margin: 5px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Icon {
    width: 100px;
}
