.WeatherForecast {
    /* border:  3px solid black; */
    height: 75vh;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 2fr;

}

.Head {

    grid-column: 1/6;
    grid-row: 1/2;
}
.CityName {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    justify-self: center;
    font-family: 'Bowlby One SC', cursive;
    font-size: 30px;
}

.Cards {
    grid-column: 1/6;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Like {
    display: flex;
    justify-content: center;
    grid-column: 5/6;
    grid-row: 1/2;
}

.spinner {
   display: flex;
   justify-content: center;
}

@media only screen and (max-width: 800px) {

    .WeatherForecast {
        /* border:  3px solid black; */
        height: 75vh;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr auto;
    
    }
    .CityName {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-self: center;
        font-family: 'Bowlby One SC', cursive;
        font-size: 30px;
    }
  }

@media only screen and (max-width: 650px) {

    .WeatherForecast {
        /* border:  3px solid black; */
        height: 216vh;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .CityName {
        
        font-family: 'Bowlby One SC', cursive;
        font-size: 30px;
        
    }
    
    .Cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 4rem;
        height: 160vh;
        align-content: center;
       
    }
    .Like {
        display: block;
        margin-top: 4rem;
    }
  }



