.Card {
    perspective: 150rem;
    position: relative;
}
.Side {
    transition: all .8s ease;
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    font-size: large;
}

.front {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right bottom, rgb(76, 198, 235) , rgb(36, 110, 160))
}

.back {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right bottom, rgb(109, 107, 107) , black);
    transform: rotateY(180deg);
    color: seashell;
}


.Card:hover  .front{
    transform: rotateY(180deg);
}

.Card:hover  .back{
    transform: rotateY(0);
}




.Icon {
    width: 100px;
}

.Button {
    background-color: rgb(224, 8, 8);
    border-radius: 8px;
    box-shadow: 1px 1px 1px darkseagreen;
    margin-bottom: 5px;
}